<!-- generic tag  for 'dynamics#new to select a 'genre' for a 'book'--> 
<div class="radio-label"> 
    <input item_wrapper_class="radio-label" class="radio_buttons optional" type="radio" 
        value="<%= genre.id %>" name="author[books_attributes][0][genre_id]"
        id="author_books_attributes_0_genre_id_<%= genre.id %>">
        
    <label class="form-check-label collection_radio_buttons"
        for="author_books_attributes_0_genre_id_<%= genre.id %>"> <%= genre.name %> </label> 
</div> 


