



<%#= f.association :genre, prompt: 'Select existing' %>
<%#= f.input :genre_id, as: :radio_buttons,
   wrapper: :custom_collection_inline, collection: @genres %>
<!-- input_html: { class: "hidden"} -->
  
  <h6>Another one</h6>
    <%= ff.simple_fields_for :books, :genre  do |f| %> 
        <%= f.input_field :title, label: 'Book title[0]', placeholder: 'Enter a title' %>
      <div class="radio-choices">
        <%= f.input_field :genre_id, as: :radio_buttons,
            label: "",
            item_wrapper_class: "radio-label",
            collection: genres %>
      </div>
        
    <% end %>
  
      
      
      

  









    