<%#= f.association :genre, prompt: 'Select existing' %>
<%#= f.input :genre_id, as: :radio_buttons,
   wrapper: :custom_collection_inline, collection: @genres %>
<!-- input_html: { class: "hidden"} -->
  
<%= ff.simple_fields_for :books, :genre  do |f| %> 
<div class="col-sm-12 align-items-center p-3">
<%= f.input_field :title,  class: "input-author",
      placeholder: 'Enter a title'%>
</div>
    

  <div class="col-sm-12 radio-choices">

    <%= f.input_field :genre_id, as: :radio_buttons,
        label: "",
        item_wrapper_class: "radio-label",
        collection: genres %>

  </div>
    
<% end %>
  
      
      
      

  









    