<%#= f.association :genre, prompt: 'Select existing' %>
<%#= f.input :genre_id, as: :radio_buttons,
   wrapper: :custom_collection_inline, collection: @genres %>
<!-- input_html: { class: "hidden"} -->
  
<%#= ff.simple_fields_for :books, :genre  do |f| %> 
<%= ff.nested_fields_for :books, :genre  do |f| %> 

  <div class="col-sm-8 align-items-center p-3">
    <%= f.input_field :title,  class: "input-author", placeholder: 'Enter a title'%>
  </div>

  <div class="col-sm-4 align-items-center p-3">
    <a href="#genre_name">Create new genre</a>
  </div>



  <div class="col-sm-12 radio-choices">
  <!-- use 'item_wrapper_class' to design CSS class for a collection -->
    <%= f.input_field :genre_id, as: :radio_buttons, label: "", 
        item_wrapper_class: "radio-label", collection: genres %>
  </div>
    
<% end %>
      
      

  









    