<ul>
    <% reviews_title.each do |r| %>
        <li>
            <%= r.comment %> 
            <% (0..5).to_a.sample.times do  %>
                <i class="fa fa-star" ></i>
            <% end %>
            by <%= r.user.name %>
        </li>
    <% end %>
</ul>