.radio-choices {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap; /* if item overflows the line, go to next line*/
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group {
    padding: 10px 2px;
}
.radio-label {
    flex-wrap: wrap;
    /*flex: 0 0 5%; /* not grow, not shrink, each is 25% of flex-box */
    background-color: #87ec86;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    margin: 5px;
    opacity: 0.6;
    color: white;
    
    &:hover {
        opacity: 1;
        cursor: pointer;
        font-weight: bold;
    }
    
    & input {
        opacity: 0;
        /* rendre invisible le radio button */
    }
    
    & input[type="radio"]:checked + label {
        color :black;
        font-weight: bold; 
    }
}


/*.radio-label, input[type="radio"]:checked {
    opacity: 1;
}*/

.input-author {
    -webkit-appearance: none;
    border: none;
    padding: 5px 10px 7px;
    border-radius: 5px;
}
/* https://css-tricks.com/the-checkbox-hack/ */
/* https://css-tricks.com/almanac/selectors/c/checked/ */

.link-new-book {
    color: red;
}