.radio-choices {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    /* if item overflows the line, go to next line*/
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group {
    padding: 10px 2px;
}

.genre-tag {
    display: flex;
    justify-content: space-between;
}

.radio-label {
    flex-wrap: wrap;
    /*flex: 0 0 5%; /* not grow, not shrink, each is 25% of flex-box */
    background-color: #87ec86;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    margin: 5px;
    color: white;




    /* rendre invisible le radio button */
    & input {
        opacity: 0;
    }


    & input[type="radio"]:checked+label {
        color: black;
        font-weight: bold;
        font-size: 18px;
    }

    /*
    & input[type="radio"]:not(:checked) {
        opacity: 0;
    }
    */
}


.input-author {
    -webkit-appearance: none;
    border: none;
    padding: 5px 10px 7px;
    border-radius: 5px;
}

.link-new-book {
    color: red;
}


/* https://css-tricks.com/the-checkbox-hack/ */
/* https://css-tricks.com/almanac/selectors/c/checked/ */